/* Styles go here */
.movie-poster {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.movie-container {
    margin: auto;
    max-width: 1130px;
}

.btn-netflix {
    background-color: #b9090b !important;
    color: #fff;
    border: none;
    padding: 13px 25px 13px 25px;
    font-size: 18px;
}
